

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

#navbar-container {
    align-self: flex-start;
    width: 100%;
}

#login-welcome-message {
    text-align: center;
}

#login-container {
    width: 100%;
}