<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/register.css">
    <title>Register Page</title>

</head>
<body>
    <main>

        <div class="register-first-name-container">
            <label for="register-first-name-input">First Name</label>
            <input type="text" 
                id="register-first-name-input" 
                placeholder="Enter your first name"
                name="register-first-name-input"
            >
        </div>

        <div class="register-last-name-container">
            <label for="register-last-name-input">Last Name</label>
            <input type="text" 
                id="register-last-name-input" 
                placeholder="Enter your last name"
                name="register-last-name-input"
            >
        </div>

        <div class="register-age-container">
            <label for="register-age-input">Age</label>
            <input type="text" 
                id="register-age-input" 
                placeholder="Enter your age"
                name="register-age-input"
            >
        </div>

        <div class="register-salary-container">
            <label for="register-salary-input">Salary</label>
            <input type="text" 
                id="register-salary-input" 
                placeholder="Enter your salary"
                name="register-salary-input"
            >
        </div>

        <div class="register-email-container">
            <label for="register-email-input">Email (Username)</label>
            <p id="email-use-error" style="color:red" hidden="hidden">
                Email already in use
            </p>
            <p id="email-valid-error" style="color:red" hidden="hidden">
                Please enter a valid email
            </p>
            <input type="text" 
                id="register-email-input" 
                placeholder="Enter your email"
                name="register-email-input"
            >
        </div>

        <div class="register-password-container">
            <label for="register-password-input">Password</label>
            <input 
                type="text" 
                id="register-password-input" 
                placeholder="Enter your password"
                name="register-password-input"
            >
        </div>

        <div class="register-confirm-password-container">
            <label for="register-confirm-password-input">Confirm Password</label>
            <p id="password-error" style="color:red" hidden="hidden">
                passwords do not match
            </p>
            <input 
                type="text" 
                id="register-confirm-password-input" 
                placeholder="Re-enter your password"
                name="register-confirm-password-input"
            >
        </div>

        <button id="register-button">Register</button>

        <p id="register-success" style="color:green" hidden="hidden">
            Registration successful!
        </p>

    </main>
    <script type="module" src="/static/js/register.js"></script>
</body>
</html>